<p class="lead" ng-init="init()">Coding Practices: Please select all the check boxes applicable to your team.</p>
<hr>
<h4 align="center">Traveller</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="traveller1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            No standards or mechanism's for ensuring code quality
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">The team writes code without any agreed standards for quality.</p></div>
</div>
<hr>
<h4 align="center">Artisan</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="artisan1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Guidelines and/or standards are defined.
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">There are coding guidelines and standards defined. These are documented and
        easily accessible by any team member or newly joined team member.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="artisan2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Consistent training process for new team members is in place
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">There is an onboarding plan and document for new members who join the team.
        The document is easily accessible by all and can be used as further reference material.</p></div>
</div>
<hr>
<h4 align="center">Expert</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="expert1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            There are mechanism’s in place to ensure that standards are followed
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">Code review is used to enforce the standards. Automated tools like JSLint
        or JSHint for Javascript, Checkstyle for Java, and lint are used to ensure the standards are followed.
        Static analysis dashboards exists for the code through applications like SonarQube</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="expert2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Process's and practices are understood and followed by all
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">The coding practices and processes are documented and the team is aware of
        where to access them.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="expert3">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Metrics are defined but not necessarily reviewed and acted on
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">The code metrics such as test coverage and cyclomatic complexity are defined
        and readily available to the team. These metrics are however not reviewed to improve the coding practices.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="expert4">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            The team proactively improves the code
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">The team plans for refactoring slack for each iteration. The team maintains
        a graph of historic code metrics.</p></div>
</div>
<hr>
<h4 align="center">Professional</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="professional1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Code metrics are part of build automation and continuous integration
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">The build automation tool generates the code quality metrics which can be
        automatically fed to SonarQube or used for representative dashboards.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="professional2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Code metrics are tracked for trends and adjustments made on a continuous basis
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info"> The team maintains a graph of historic code metrics. The code quality
        metrics are addressed by the team every iteration.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="professional3">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            The team regularly performs katas with the objective of improving their skills
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">There is time set aside every month for some code katas to help improve the
        team coding practices skills. Katas are planned in the release plans and delivery plans.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="professional4">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Code is regularly refactored as part of the iteration
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">Refactoring is a regular discipline of the team.
        The team follows a "Leave The Code Better Than You Found It" principle.</p></div>
</div>
<hr>
<h4 align="center">Master</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="master1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Standards and Practices are regularly reviewed and updated
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">The team reviews the standards and practices every iteration.
        Quality threshold metrics are increased and the standards are optimized.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="master2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Processes and Practices are regularly reviewed and updated
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">The team reviews the processes and practices every iteration.
        Quality threshold metrics are increased and the processes are optimized.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="master3">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            The code metrics are assessed and backlog items created to drive improvement
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">There are continuous assessments of the code metrics to ensure the team is
        aligned to the quality standards. Backlog items are created to address gaps identified from the code metrics'
        perspective and these are tracked and prioritized.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input type="checkbox" ng-model="master4">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Technical debt is minimized
        </label>
    </div>
    <div class="col-xs-7"><p class="bg-info">Technical debt items are tracked and the code static analysis metrics
        are tracked to show progress with respect to technical debt reduction.</p></div>
</div>
<hr>
<p align="right">
    <a class="btn btn-primary btn-lg" href="#!/planning">Last Dimension</a>
    <a class="btn btn-primary btn-lg" href="#!/ci">Next Dimension</a>
</p>