
    <p class="lead" ng-init="init()" style="margin-left: 50px">Quality Alignment: Please select all the check boxes applicable to your team.</p>
    <hr>
    <h4 align="center">Traveller</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller1" type="checkbox" ng-model="traveller1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller1)">There are no common practices nor rules in place for the team.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller2" type="checkbox" ng-model="traveller2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller2)">Testing is a phase after development.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller3" type="checkbox" ng-model="traveller3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller3)">There is no plan on how to test increment.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller4" type="checkbox" ng-model="traveller4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller4)">Testing (Functional and Non-Functional) is not involved in PI and/or Release Planning.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller5" type="checkbox" ng-model="traveller5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller5)">There is no governance structure whatsoever.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller6" type="checkbox" ng-model="traveller6">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller6)">Agenda not clearly defined nor understood by individuals throughout the different levels of SAFE.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller7" type="checkbox" ng-model="traveller7">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller7)">Feature teams do not have a clear understanding of the roles of the people they deal with.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller8" type="checkbox" ng-model="traveller8">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller8)">Customer feedback do not reach the team levels.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller9" type="checkbox" ng-model="traveller9">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller9)">Testing team defines all the work to be done along with Dev and business without involving Specialist team.</p></div>
    </div>
    <hr>
    <h4 align="center">Artisan</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan1" type="checkbox" ng-model="artisan1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan1)">All written scripts are reviewed by whole team and follows standards that is agreed by the team.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan2" type="checkbox" ng-model="artisan2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan2)">Each QE/Test Analyst plans his/her own individual approach to testing their work increment.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan3" type="checkbox" ng-model="artisan3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan3)">No formal Test strategy is in place, and any alignment to any such strategy is purely coincidental.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan4" type="checkbox" ng-model="artisan4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan4)">Alignment between different feature teams and product road map is inexistent.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan5" type="checkbox" ng-model="artisan5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan5)">External team responsible for governance.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan6" type="checkbox" ng-model="artisan6">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan6)">Top-down Information is sifted and communicated on a need to know basis to feature team levels.</p></div>
    </div>
    <hr>
    <h4 align="center">Expert</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert1" type="checkbox" ng-model="expert1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert1)">Quality standards documented and in line with Quality Policy of the organization.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert2" type="checkbox" ng-model="expert2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert2)">Testing activities are discussed and defined with estimation/sizing of user stories.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert3" type="checkbox" ng-model="expert3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert3)">Team is aligned on testing effort required per user story and of the plan on how to test.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert4" type="checkbox" ng-model="expert4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert4)">Testing and QA is shifted-left by making use of Test First Approach to build quality in.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert5" type="checkbox" ng-model="expert5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert5)">Test strategy is defined upfront with all levels of testing being considered.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert6" type="checkbox" ng-model="expert6">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert6)">Specialist teams are involved upfront.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert7" type="checkbox" ng-model="expert7">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert7)">Fit for purpose sign-offs (Go Ahead) for all product quality enhancement proposals.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert8" type="checkbox" ng-model="expert8">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert8)">Team tries to build in customer feedback loop but is not always actioned or incorporated in planning.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert9" type="checkbox" ng-model="expert9">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert9)">Proper chain of communication established to pass down information from portfolio level to all levels but still not a 2 way communication.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert10" type="checkbox" ng-model="expert10">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert10)">Specialist team involved  from system architecture planning (including NFT Teams).</p></div>
    </div>
    <hr>
    <h4 align="center">Professional</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional1" type="checkbox" ng-model="professional1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional1)">Standards match and align to the Bank's Standards for Quality.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional2" type="checkbox" ng-model="professional2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional2)">Quality Assurance follows a high level standard to ensure quality increment delivery at the end of each sprint.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional3" type="checkbox" ng-model="professional3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional3)">Test plan and strategy for all partner feature teams are in line with Product Roadmap.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional4" type="checkbox" ng-model="professional4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional4)">Defects, Incidents and risk management and mitigation plans/process is in place and understood by all.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional5" type="checkbox" ng-model="professional5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional5)">Fit for purpose governance makes it an enabler rather than a hindrance.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional6" type="checkbox" ng-model="professional6">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional6)">Full transparency - All decisions and strategy discussion is understood by all individuals at all levels in the Scaled Agile framework. (Portfolio, program and team levels).</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional7" type="checkbox" ng-model="professional7">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional7)">All feature teams working in parallel have a clear view and understanding of what each team does and have their goals aligned based on release and product deadlines. (vision is aligned with iterations and releases.).</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional8" type="checkbox" ng-model="professional8">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional8)">Scrum of scrum takes place to provide feedback and as a communication channel to ensure goals alignment and information delivered across all levels.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional9" type="checkbox" ng-model="professional9">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional9)">Testers are fully involved with Developers as part of the Test First Approach to help build the product better.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional10" type="checkbox" ng-model="professional10">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional10)">With T-shaped skills Testers can play an advisory role from both a business and testing perspective.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional11" type="checkbox" ng-model="professional11">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional11)">Testers are the intermediary to help communication between DEV and Business where necessary.</p></div>
    </div>
    <hr>
    <h4 align="center">Master</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="master1" type="checkbox" ng-model="master1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(master1)">Test Plan, Strategy and Process is adaptive and  easily responsive to change.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="master2" type="checkbox" ng-model="master2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(master2)">Team is able to evolve testing as the product and team dynamics matures.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="master3" type="checkbox" ng-model="master3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(master3)">QA leads are fully engaged with business and Development leads in making product related decisions.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="master4" type="checkbox" ng-model="master4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(master4)">Governance values team throughput and value add.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="master5" type="checkbox" ng-model="master5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(master5)">Customer feedback is acknowledged, given priority and taken into consideration when planning releases and iterations.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="master6" type="checkbox" ng-model="master6">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(master6)">The feature teams consists of  Operational team members and the whole team is responsible for the product quality, from the inception to maintenance in production "You build it, you run it".</p></div>
    </div>
    <hr>
    <p align="right">
        <a id="nextButtonRisk" class="btn btn-primary btn-lg" href="#!/practice-innovation" ng-click="saveAssessments()">Next Dimension</a>
    </p>
