<p class="lead" ng-init="init()" style="margin-left: 50px"><img src="images/risk.png">Risk and Issue Management: Please select all the check boxes applicable to your team.</p>
<hr>
<h4 align="center">Traveller</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskTraveller1" type="checkbox" ng-model="traveller1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Risk Management does not exist or is just a box to tick in order to get through a process
            (i.e. something done to keep risk and audit people happy).
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(traveller1)">To be at this level, the team does not have a risk management process in
        place and simply does compliance with audits by ticking check boxes without necessarily implementing any processes
        to avert risk. To move from this level the team needs to start identifying, managing and tracking risk.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskTraveller2" type="checkbox" ng-model="traveller2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            There is no awareness or transparency of current risks and issues in the team.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(traveller2)">The team at this level is unable to clearly articulate what the risks are.
        The various risks are not transparent to the team and may be known by very few individuals within the team.</p></div>
</div>
<hr>
<h4 align="center">Artisan</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskArtisan1" type="checkbox" ng-model="artisan1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Risks have been identified and are captured using an appropriate artefact such as a risk story wall or risk register.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(artisan1)">At this level, risks are captured by the team and tracked on the team wall
        and/or story management system. The team members can access the various risks and are all aware of what they are.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskArtisan2" type="checkbox" ng-model="artisan2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Each identified risk has been assigned a risk mitigation or action plan.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(artisan2)">The risks are allocated owners as well as mitigation/action plans.
        These are clearly captured in the story management system.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskArtisan3" type="checkbox" ng-model="artisan3">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Risks are discussed as part of the iteration planning process.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(artisan3)">The risks are discussed and reviewed as part of the iteration planning
        process and action items are allocated and assigned to prospective risk item owners. These are then tracked and
        reviewed throughout the iteration to ensure mitigation is in place. All the Non-functional risks are also identified,
        highlighted and prioritized.</p></div>
</div>
<hr>
<h4 align="center">Expert</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskExpert1" type="checkbox" ng-model="expert1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Risks, issues and blockers are discussed and updated in appropriate detail as part of all sessions
            (stand-ups; iteration planning; showcases; steering committee meetings)
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(expert1)">Risks items are discussed during the agile ceremonies such as
        standups and they are updated accordingly to ensure they are not just recorded but are also mitigated. Any blockers
        are highlighted and addressed. Business stakeholders are kept up to date with the risks, issues and blockers.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskExpert2" type="checkbox" ng-model="expert2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Unmitigated or uncontrollable risks are easily identifiable.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(expert2)">The team is able to identify/raise risks that do not have a mitigation plan
        and assign an owner, while recording on the wall.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskExpert3" type="checkbox" ng-model="expert3">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Risks, controls and action plans are assigned to appropriate owners: someone who understand the risk, has
            responsibility and accountability for managing the risk, and has the authority to implement controls and actions.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(expert3)">All the risks have appropriate owners. Owners update during daily stand-ups
        on the progress towards mitigating the risks.</p></div>
</div>
<hr>
<h4 align="center">Professional</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskProfessional1" type="checkbox" ng-model="professional1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            The cost and benefits of risk mitigations are evaluated and recorded before they are implemented.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(professional1)">Cost benefit analysis of risk mitigations are discussed in the iteration
        planning sessions before risks are prioritised.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskProfessional2" type="checkbox" ng-model="professional2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Risk management roles, responsibilities and accountabilities have been  defined and agreed upon.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(professional2)">Roles, responsibilities and accountabilities for the risks owners are defined,
        agreed upon and documented where it is accessible to all team members.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskProfessional3" type="checkbox" ng-model="professional3">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Regular check points with Business Stakeholders to ensure they are aware of all risks and issues.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(professional3)">There is clear communication with the business stakeholders and different
        stakeholders on the risks and mitigation plans in progress.</p></div>
</div>
<hr>
<h4 align="center">Master</h4>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskMaster1" type="checkbox" ng-model="master1">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Risk mitigations and actions are explicitly designed to increase positive outcomes and reduce negative outcomes.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(master1)">The team explicitly designs the risk mitigation and actions and are proactive
        rather than reactive towards the potential of risks.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskMaster2" type="checkbox" ng-model="master2">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            The business participates in developing mitigation strategies.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(master2)">Business stakeholders are also involved in the risks mitigation strategies
        and are aware of the effect of the various risks.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskMaster3" type="checkbox" ng-model="master3">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Risk management is used to identify potential opportunities and drive strategy by thinking about risk in
            terms of uncertainty (which could be positive or negative)
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(master3)">Risk management is used to identify potential opportunities and these are
        recorded in the story management system linking them to the risks. There is openess with respect to raising and
        highlighting risks and using them to inform the strategy.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskMaster4" type="checkbox" ng-model="master4">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            Measures and metrics exist to demonstrate the effectiveness of risk management and where improvement is required.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(master4)">The risks resolutions are measured and used to optimise the risk management process.</p></div>
</div>
<div class="row well well-sm">
    <div class="col-xs-1">
        <p align="center">
            <label>
                <input id="riskMaster5" type="checkbox" ng-model="master5">
            </label>
        </p>
    </div>
    <div class="col-xs-4">
        <label>
            The financial impact of risk and issues is clearly understood.
        </label>
    </div>
    <div class="col-xs-7"><p ng-class="getClass(master5)">Financial impact of the risks are captured and availed to stakeholders and
        the team to drive more effective and optimised risk management.</p></div>
</div>
<hr>
<p align="right">
    <a id="previousButtonRisk" class="btn btn-primary btn-lg" href="#!/incident">Last Dimension</a>
    <a id="nextButtonRisk" class="btn btn-primary btn-lg" href="#!/design" ng-click="saveAssessments()">Next Dimension</a>
</p>