
    <p class="lead" ng-init="init()" style="margin-left: 50px">Please complete the table below with your scores</p>
    <div style="margin-bottom: 25px;">
        <div class="alert alert-success" style="max-width: 600px;margin-left: 50px" role="alert" ng-show="hasSaved">
            <p>User successfully saved/updated</p>
        </div>
        <div class="alert alert-warning" style="max-width: 600px;margin-left: 50px" role="alert" ng-show="hasDeleted">
            <p>User successfully deleted</p>
        </div>
        <div id="teamError" class="alert alert-danger" style="max-width: 550px;margin-left: 50px" role="alert" ng-show="hasError">
            <p>Please ensure text boxes are not empty before proceeding.</p>
        </div>
        <label for="bioNameSelect" style="padding-left: 50px; margin-bottom: 25px; margin-top: 25px" class='required'> Select Name: </label>
        <select style="width: 425px" name="bioNameSelect" id="bioNameSelect" ng-model="selectedBIO" ng-change="updateBIODetails()">
            <option value="">Please Select Your Name From The List</option>
            <option ng-repeat="bio in BIOLists" value="{{bio.id}}">{{bio.name}}</option>
        </select>
        <div>
            <label for="nameField" style="padding-left: 50px" class='required'> Enter Name: </label>
            <input type="text" name="nameField" id="nameField" ng-model="enteredName">

            <label for="portfolioField" style="padding-left: 50px" class='required'> Enter TeamName: </label>
            <input type="text" name="portfolioField" id="portfolioField" ng-model="enteredTeam">

            <label for="portfolioSelect" style="padding-left: 50px" class='required'> Select Portfolio: </label>
            <select style="width: 300px" name="portfolioSelect" id="portfolioSelect" ng-model="selectedPortfolio">
                <option value="">Please Select Your Portfolio</option>
                <option ng-repeat="portfolioName in portfolioNames" value="{{portfolioName}}">{{portfolioName}}</option>
            </select>

            <label for="portfolioEnteredField" style="padding-left: 50px" class='required' ng-show="selectedPortfolio === ''"> Enter Portfolio Name: </label>
            <input type="text" name="portfolioEnteredField" id="portfolioEnteredField" ng-model="portfolioEnteredName" ng-show="selectedPortfolio === ''">

        </div>
    </div>
    <p align="center">
        <a id="saveData" class="btn btn-primary btn-lg" href="" ng-click="saveDetails()">Save Details</a>
        <a id="deleteData" class="btn btn-danger btn-lg" href="" ng-click="deleteDetails()" ng-show="selectedPortfolio !== ''">Delete Details</a>
    </p>