
    <p class="lead" ng-init="init()" style="margin-left: 50px">Practice and Innovation: Please select all the check boxes applicable to your team.</p>
    <hr>
    <h4 align="center">Traveller</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller1" type="checkbox" ng-model="traveller1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller1)">Work distribution relies heavily on formal documentation.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller2" type="checkbox" ng-model="traveller2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller2)">Transparency is inexistent and team members do what they are told to without any knowledge for the bigger picture.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller3" type="checkbox" ng-model="traveller3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller3)">Role of QA is solely to perform testing to find defects and bugs in the product.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller4" type="checkbox" ng-model="traveller4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller4)">There are no records of any testing done.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller5" type="checkbox" ng-model="traveller5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller5)">Handover is informal and not documented.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller6" type="checkbox" ng-model="traveller6">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller6)">Once-off informal in-house training conducted.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller7" type="checkbox" ng-model="traveller7">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller7)">Customers are not in the loop when it comes to product development and progress.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller8" type="checkbox" ng-model="traveller8">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller8)">Kanban - not release bounded or Scrum - not time boxed properly due to lack of proper planning.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller9" type="checkbox" ng-model="traveller9">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller9)">No set structure or guidelines for User stories.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller10" type="checkbox" ng-model="traveller10">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller10)">Code packages are not shippable at the end of releases.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="traveller11" type="checkbox" ng-model="traveller11">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(traveller11)">Written tests are not programming adaptive (i.e. cannot be coded/automated).</p></div>
    </div>
    <hr>
    <h4 align="center">Artisan</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan1" type="checkbox" ng-model="artisan1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan1)">Work distribution is done based on strategic planning and regular sync-up takes place to provide updates on WIP.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan2" type="checkbox" ng-model="artisan2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan2)">QA's input is valued in the design phase of the product.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan3" type="checkbox" ng-model="artisan3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan3)">Handover is documented and available but not maintained.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan4" type="checkbox" ng-model="artisan4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan4)">Training requirement is identified regularly.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="artisan5" type="checkbox" ng-model="artisan5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(artisan5)">Consistent training process for new team members is in place.</p></div>
    </div>
    <hr>
    <h4 align="center">Expert</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert1" type="checkbox" ng-model="expert1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert1)">Teams adhere to the agile principles and values.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert2" type="checkbox" ng-model="expert2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert2)">Formal ceremonies in place to promote communication amongst the teams and through all levels of the enterprise but not done regularly.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert3" type="checkbox" ng-model="expert3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert3)">Pair Programming and Test First Approach is favoured and more focus is put on defect prevention.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert4" type="checkbox" ng-model="expert4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert4)">All QA team members have basic knowledge of performance, security and other NFT and applies their knowledge when promoting quality throughout the process.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert5" type="checkbox" ng-model="expert5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert5)">Feature teams are able to provide coverage reports and record of all testing and QA activities done upon request.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert6" type="checkbox" ng-model="expert6">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert6)">Formal handover documentation continuously reviewed and updated.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert7" type="checkbox" ng-model="expert7">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert7)">Updating the formal documentation is part of Definition of Done for continuity purposes.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert8" type="checkbox" ng-model="expert8">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert8)">Formal training is arranged and continuously revised and adhered to market demand.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert9" type="checkbox" ng-model="expert9">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert9)">Use of Personas based on real customer profiles.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert10" type="checkbox" ng-model="expert10">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert10)">Kanban - release bounded or scrum - time boxed properly to align with company's vision and product releases (i.e. teams apply Cadence and Synchronise with other feature teams).</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="expert11" type="checkbox" ng-model="expert11">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(expert11)">All code packages are shippable at the end of a release.</p></div>
    </div>
    <hr>
    <h4 align="center">Professional</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional1" type="checkbox" ng-model="professional1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional1)">Daily stand-ups (concise and time framed) takes place where team members gives quick feedback and  their goals for the day.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional2" type="checkbox" ng-model="professional2">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional2)">Scrum of scrum meetings takes place, where all important information are filtered down to each feature team (transparency and knowledge of the big picture).</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional3" type="checkbox" ng-model="professional3">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional3)">QA is fully cross-skilled with knowledge of business, development, functional and non functional testing.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional4" type="checkbox" ng-model="professional4">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional4)">All activities should adhere to a set list of Definition of Readiness and Definition of Done.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional5" type="checkbox" ng-model="professional5">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional5)">Regular occurrence of Showcase involving Product owners and other feature teams.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional6" type="checkbox" ng-model="professional6">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional6)">Sprint Demo, Product Increment Demo are used to showcase successful delivery of the User Story/Function point to Business before releases/implementations.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional7" type="checkbox" ng-model="professional7">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional7)">Knowledge sharing sessions are happening proactively within team members.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional8" type="checkbox" ng-model="professional8">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional8)">Team members are given the opportunity to go to workshops/training to upskill themselves.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional9" type="checkbox" ng-model="professional9">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional9)">Test First approach is adopted and all written test are in a programming adaptive manner.</p></div>
    </div>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="professional10" type="checkbox" ng-model="professional10">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(professional10)">Proper structure and guidelines set for User Stories based on criteria such as Description, functionality and time estimation (estimation is optional but good to have).</p></div>
    </div>
    <hr>
    <h4 align="center">Master</h4>
    <div class="row well well-sm">
        <div class="col-xs-1">
            <p align="center">
                <label>
                    <input id="master1" type="checkbox" ng-model="master1">
                </label>
            </p>
        </div>
        <div class="col-xs-7"><p ng-class="getClass(master1)">Feature Teams adopts methods (like the happiness metrics and team health checks) to promote individual and team productivity.</p></div>
    </div>
    <hr>
    <p align="right">
        <a id="nextButtonRisk" class="btn btn-primary btn-lg" href="#!/tools-artefacts" ng-click="saveAssessments()">Next Dimension</a>
    </p>
